<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
	<a th:href="@{/administrador/clientes}">Administrar Clientes</a></br>
	PRESTAMOS</br>
	Dar prestamo</br>
	Abonar al prestamo</br>
	Ver prestamos</br></br>
	BUSQUEDA</br>
	CLIENTES</br>
	<a th:href="@{/administrador/buqueda/clientes}">Todos</a></br>
	Por nombre</br>
	<a th:href="@{/administrador/buqueda/id}">Por ID</a></br>
	PRESTAMOS</br>
	Todos</br>
	Por ID cliente</br>
	Por fecha</br>
	Activos </br>
	Pagados</br>
	DINERO</br>
	Monto total en el banco</br>
	Salir del programa</br>
</body>
</html>