<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">BankEnd</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/administrador}">Menu<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/administrador/buqueda/clientes}">Clientes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prestamo/buscar/prestamos}">Prestamos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/prestamo/abono}">Abonar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}">LogOut</a>
				</li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<a th:href="@{/administrador/clientes}" class="btn btn-outline-primary m-3">Administrar Clientes</a></br>
			
		<div class="row">
		
			<div class="card m-3" style="width: 14rem;">
				  <div class="card-header">
				    Prestamos
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"><a th:href="@{/prestamo/form}">Realizar Prestamo</a></li>
				    <li class="list-group-item"><a th:href="@{/prestamo/abono}">Abonar al prestamo</a></li>
				    <li class="list-group-item"><a th:href="@{/prestamo}">Administrar Prestamos</a></li>
				  </ul>
			</div>
			<div class="card m-3" style="width: 14rem;">
			  <div class="card-header">
			    Busqueda Clientes
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item"><a th:href="@{/administrador/buqueda/clientes}">Todos</a></li>
			    <li class="list-group-item"><a th:href="@{/administrador/buqueda/nombre}">Por Nombre</a></li>
			    <li class="list-group-item"><a th:href="@{/administrador/buqueda/id}">Por ID</a></li>
			  </ul>
			</div>
			
			<div class="card m-3" style="width: 14rem;">
			  <div class="card-header">
			    Busqueda Prestamos
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item"><a th:href="@{/prestamo/buscar/prestamos}">Todos</a></li>
			    <li class="list-group-item"><a th:href="@{/prestamo/buscar/prestamos/id}">Por ID cliente</a></li>
			    <li class="list-group-item"><a th:href="@{/prestamo/buscar/prestamos/fecha}">Por fecha</a></li>
			    <li class="list-group-item"><a th:href="@{/prestamo/buscar/prestamos/activos}">Activos</a></li>
			    <li class="list-group-item"><a th:href="@{/prestamo/buscar/prestamos/pagados}">Pagados</a></li>
			  </ul>
			</div>
			
			<div class="card m-3" style="width: 14rem;">
			  <div class="card-header">
			    Busqueda Dinero
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item"><a th:href="@{/administrador/monto}">Monto total en el banco</a></li>
			    <li class="list-group-item"><a th:href="@{/administrador/montomayor}">Cliente con mas dinero</a></li>
			  </ul>
			</div>
		</div>
		
		
		<a th:href="@{/logout}">Salir del programa</a>
	</div>
	
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>
</html>